<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.order.mapper.OrderMapper">
	<insert id="insertOrder" parameterType="OrderVO">	
		<selectKey keyProperty="ordId" resultType="int" order="BEFORE">
    		SELECT seq_order_id.NEXTVAL FROM dual
  		</selectKey>
		
		INSERT INTO orders(ord_id,mem_id,ord_status,ord_receiver,ord_addr,ord_phone,ord_postcode,ord_totalprice)
		VALUES(#{ordId},#{memId}, #{ordStatus}, #{ordReceiver}, #{ordAddr}, #{ordPhone}, #{ordPostcode},#{ordTotalprice})
	</insert>
	
	<select id="getOrderList" resultType="OrderVO">
		SELECT o.* , op.* , pay.* ,pro.pro_name, m.mem_name
		FROM member m ,orders o, orderproduct op,product pro ,payment pay
		WHERE m.mem_id = o.mem_id 
		  AND o.ord_id = op.ord_id
		  AND op.pro_id = pro.pro_id
		  AND o.ord_id = pay.ord_id
		ORDER BY o.ord_id 
	</select>
	
	<insert id="insertPayment" parameterType="OrderVO">
	  <selectKey keyProperty="payId" resultType="int" order="BEFORE">
	    SELECT seq_payment_id.NEXTVAL FROM dual
	  </selectKey>
	  INSERT INTO payment (pay_id, ord_id, pay_date, pay_totalprice, pay_couponprice, pay_code, coup_id)
	  VALUES (#{payId}, (SELECT ord_id
						 FROM orders
						 WHERE ord_id = (SELECT MAX(ord_id) FROM orders)),
						 sysdate, #{payTotalprice}, #{payCouponprice}, #{payCode}, #{coupId})
	</insert>
		<insert id="insertOrderProduct" parameterType="java.util.List">
	    INSERT INTO orderproduct 
	    	(ord_quant, 
	    	 pro_id, 
	    	 ord_id , 
	    	 ord_pro_sumprice)
	    VALUES
		<foreach collection="list" item="item" separator=",">
		    (
		        ${item.ordQuant},
		        ${item.proId},
		        (SELECT MAX(ord_id) FROM orders),
		        ${item.ordProSumprice}
		    )
		</foreach>
	</insert>
</mapper>