<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.product.mapper.ProductMapper">

	<!-- 전체 상품 조회 -->
	<select id="getList" resultType="ProductVO">
		SELECT * FROM product
	</select>

	<select id="searchResult" resultType="ProductVO">
		SELECT *
		FROM product
		WHERE pro_name like '%' ||  #{keyword } || '%'
		   OR pro_category like '%' ||  #{keyword } || '%'
	</select>

	<select id="menuResult" resultType="ProductVO">
		SELECT * 
		FROM product
		WHERE pro_category like '%' ||  #{menu } || '%'
	</select>

	<select id="getProduct" resultType="ProductVO">
		SELECT * FROM product WHERE
		pro_id=#{pid}
	</select>

	<insert id="insertProductCart" parameterType="CartVO">
		INSERT INTO
		cart(cart_id, mem_id, pro_id, ca_quant, ca_sumprice)
		VALUES(1,
		#{memId}, #{proId}, #{caQuant}, #{caSumprice})
	</insert>
	
	<delete id="deleteProduct" parameterType="int">
		DELETE FROM product
		WHERE pro_id = #{proId}
	</delete>
	
	<update id="updateProduct" parameterType="ProductVO">
		update product
		<set>
			<if test="proID != null">
				pro_id = #{proID},
			</if>
			<if test="proName != null">
				pro_name = #{proName},
			</if>
			<if test="proPrice != null">
				pro_price = #{proPrice},
			</if>
			<if test="proDesc != null">
				pro_desc = #{proDesc},
			</if>
			<if test="proCategory != null">
				pro_category = #{proCategory},
			</if>
			<if test="proImg != ''">
				pro_img = #{proImg}
			</if>
		</set>
		where
		pro_id = #{proID}
	</update>

</mapper>